body{
  background-image: url('office.webp'); 
  background-size: cover;
  background-position: center;
  background-position-y: center; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

#office{
    z-index:-1; 
    width:1040px; 
  /*  height: 1200px; */
    position: absolute;
  }
  
  #bossCont{
    z-index:1; 
   position: absolute;
    top: -200px; /* -129px */ 
    left:250px;   
    width:1100px; /*1200 */ 
  }

  #d1{
    background-color:rgb(217, 237, 255);  /*217, 237, 255*/ /*148, 203, 255*/ 
    width:550px; /*500 */ 
    height:200px; /* 150 */ 
    position:absolute; 
    z-index:3;
    bottom: 45px; /*100*/ 
    left: 430px; /*270*/ 
    border: 5px solid pink; 
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color:rgb(150, 165, 253);
    text-align:center; 
    padding-top: 10px; /* Move this down */ 
    font-size: 15px; 
  }

  #back_button{
    background-color:rgb(217, 237, 255);  
    border: 3px solid pink; 
    border-radius: 5px;
    width:200px;
    height:60px; 
    position:absolute; 
    z-index:3;
    bottom: 45px; /*100*/ 
    left: 430px; /*270*/ 
  }

  #front_button{
    background-color:rgb(217, 237, 255);  
    border: 3px solid pink; 
    border-radius: 5px;
    width:200px;
    height:60px;
    position:absolute; 
    z-index:3;
    bottom: 45px;
    left: 789px; 
  }

  #pause_button{
    background-color:rgb(217, 237, 255);  
    border: 3px solid pink; 
    border-radius: 5px;
    width:175px;
    height:60px;
    position:absolute; 
    z-index:3;
    bottom: 45px;
    left: 620px; 
  }

  #back_button:hover{
    background-color:rgb(255, 232, 236);
    cursor: pointer;
  }

  #front_button:hover{
    background-color: rgb(255, 232, 236);
    cursor: pointer;
  }

  #pause_button:hover{
    background-color: rgb(255, 232, 236);
    cursor: pointer;
  }
  
  #nameText{
    border: 5px solid pink; 
    border-radius: 2px;
    width:200px;
    height:30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color:pink; /*rgb(150, 165, 253)*/ 
    text-align:center; 
    font-size:19px; /*25px*/ 
    position: absolute; 
    bottom: 170px;
    left: 600px; 
    z-index:3; 
    display: none; 
  }

  #enterName{
    position: absolute; 
    bottom: 120px;
    left: 650px; 
    z-index:3; 
    background-color:rgb(217, 237, 255);  
    border: 4px solid pink; 
    border-radius: 2px;
    width:100px;
    height:40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color:rgb(150, 165, 253);
    font-size: 16px; /*15px*/ 
    display: none; 
  }

  #enterName:hover{
    background-color: rgb(255, 232, 236);
    cursor: pointer;
    color:white; 
  }

  #enterName:active{
    background-color: pink; /* rgb(248, 155, 170)*/ 
    color:white; 
  }



  /*Need to add JS to pause 
    Turn Pause to Play Button
    Make arrows not work 
    Maybe Add some settings 
    I can change the pause to settings 
    then open settings and add divs to change settings on page
  */ 
